.section-heading {
  font-size: 5rem;
  font-family: $font-heading;
  color: var(--color-secondary);
  text-transform: uppercase;
  letter-spacing: 4px;

  &--text {
    text-align: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 60%;
      transform: translateX(-50%);
      border-bottom: 3px solid var(--color-secondary);
    }
  }
}
