:root {
  --color-primary: #003049;
  --color-secondary: #c81d77;
  --color-text: #eae2b7; }

.redMode {
  --color-primary: #D62828;
  --color-secondary: #4C956C;
  --color-text: #EAE2B7; }

.greenMode {
  --color-primary: #2C6E49;
  --color-secondary: #D68C45;
  --color-text: #EAE2B7; }

.whiteMode {
  --color-primary: #F1F1F1;
  --color-secondary: #D68C45;
  --color-text: #003049; }

.blueMode {
  --color-primary: #003049;
  --color-secondary: #c81d77;
  --color-text: #eae2b7; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  cursor: none !important; }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 60%; } }
  @media screen and (max-width: 900px) {
    html {
      font-size: 56.2%; } }
  @media screen and (max-width: 600px) {
    html {
      font-size: 50%; } }

body {
  line-height: 1.7;
  font-family: "Open Sans", sans-serif;
  color: var(--color-text);
  font-size: 1.4rem;
  background-color: var(--color-primary);
  height: 100vh;
  width: 100vw; }
  body::-webkit-scrollbar {
    display: none; }

a {
  cursor: none !important; }

button {
  cursor: none !important; }

.container {
  width: 100%;
  height: 100%;
  scroll-snap-type: both mandatory;
  overflow: scroll;
  display: flex; }
  .container::-webkit-scrollbar {
    display: none; }
  .container section {
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
    flex: none; }
  @media screen and (min-width: 1400px) {
    .container {
      width: 144rem;
      margin: 0 auto; } }
  @media screen and (max-width: 600px) {
    .container {
      width: 95%;
      margin: 0 auto; } }

.single-container {
  width: 60%;
  margin: 0 auto; }
  @media screen and (min-width: 1400px) {
    .single-container {
      width: 90rem;
      margin: 0 auto; } }
  @media screen and (max-width: 900px) {
    .single-container {
      width: 70%;
      margin: 0 auto; } }
  @media screen and (max-width: 600px) {
    .single-container {
      width: 85%;
      margin: 0 auto; } }

.cursor {
  width: 4rem;
  height: 4rem;
  background-color: white;
  mix-blend-mode: exclusion;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  z-index: 10000;
  transform-origin: 100% 100%; }

.link-grow {
  transform: scale(2); }

.mg-tp-sm {
  margin-top: 2rem; }

.mg-tp-md {
  margin-top: 4rem; }
  @media screen and (max-width: 900px) {
    .mg-tp-md {
      margin-top: 3rem; } }
  @media screen and (max-width: 600px) {
    .mg-tp-md {
      margin-top: 2rem; } }

.mg-tp-lg {
  margin-top: 6rem; }
  @media screen and (max-width: 900px) {
    .mg-tp-lg {
      margin-top: 4rem; } }
  @media screen and (max-width: 600px) {
    .mg-tp-lg {
      margin-top: 3rem; } }

.mg-tp-hg {
  margin-top: 10rem; }
  @media screen and (max-width: 900px) {
    .mg-tp-hg {
      margin-top: 8rem; } }
  @media screen and (max-width: 600px) {
    .mg-tp-hg {
      margin-top: 6rem; } }

.mg-tp-section {
  margin-top: 20rem; }
  @media screen and (max-width: 900px) {
    .mg-tp-section {
      margin-top: 15rem; } }
  @media screen and (max-width: 600px) {
    .mg-tp-section {
      margin-top: 10rem; } }

.mg-bt-sm {
  margin-bottom: 2rem; }

.mg-bt-md {
  margin-bottom: 4rem; }

.mg-bt-lg {
  margin-bottom: 6rem; }

.mg-bt-hg {
  margin-bottom: 10rem; }

.text-center {
  text-align: center; }

.header-cta__heading--sub.capitalized {
  text-transform: capitalize; }

.btn-primary:link, .btn-primary:visited, .btn-secondary:link, .btn-secondary:visited {
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  border-radius: 3px;
  display: block;
  width: 40rem;
  color: currentColor;
  border: 1px solid var(--color-secondary);
  position: relative;
  overflow-y: hidden; }

.btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180%;
  background-color: var(--color-secondary);
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s; }

.btn-primary:hover::before {
  height: 0; }

.btn-secondary:link, .btn-secondary:visited {
  background-color: transparent; }

.btn-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: var(--color-secondary);
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s; }

.btn-secondary:hover::before {
  height: 180%; }

.section-heading {
  font-size: 5rem;
  font-family: "Rancho", cursive;
  color: var(--color-secondary);
  text-transform: uppercase;
  letter-spacing: 4px; }
  .section-heading--text {
    text-align: center;
    position: relative; }
    .section-heading--text::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 60%;
      transform: translateX(-50%);
      border-bottom: 3px solid var(--color-secondary); }

.project--container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 27rem);
  grid-template-columns: repeat(auto-fit, 40rem);
  grid-gap: 1.5rem;
  justify-content: center;
  height: 100vh;
  width: 100vw; }
  .project--container__box {
    position: relative;
    height: 27rem;
    overflow: hidden;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }
  .project--container__img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1; }
  .project--container__hover {
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-primary);
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .project--container__hover-tags {
      display: flex;
      justify-content: space-around;
      margin-top: -3rem; }
      .project--container__hover-tags p {
        background-color: rgba(255, 255, 255, 0.1);
        padding: .5rem 1.5rem;
        font-family: inherit;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        border: 2px solid transparent;
        background-clip: padding-box;
        box-shadow: -1px 2px 8px -1px rgba(0, 0, 0, 0.35); }
  .project--container__box:hover .project--container__hover {
    z-index: 10; }
  .project--container__btn {
    display: flex;
    justify-content: center;
    width: 100%; }
    .project--container__btn a {
      text-transform: uppercase;
      letter-spacing: 1px;
      width: 35rem; }

.service--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50rem);
  grid-template-rows: repeat(auto-fit, 30rem);
  align-items: flex-start;
  justify-content: center;
  grid-gap: 4rem;
  height: 100vh;
  width: 100vw; }
  @media screen and (max-width: 400px) {
    .service--container {
      grid-template-columns: repeat(auto-fit, 40rem);
      grid-gap: 2rem; } }
  .service--container__box {
    max-width: 50rem;
    height: 30rem;
    background-color: var(--color-text);
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    position: relative; }
    @media screen and (max-width: 400px) {
      .service--container__box {
        max-width: 40rem; } }
    .service--container__box--content {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      color: var(--color-primary);
      padding: 3rem; }
  .service--container__icon {
    background-color: #fff;
    border-radius: 3px;
    margin: 1.8rem 3rem;
    padding: 3px 1rem 0 1rem;
    display: inline-block; }
    .service--container__icon svg {
      width: 25px;
      height: 25px;
      fill: var(--color-secondary); }
  .service--container__heading {
    font-size: 2rem; }
  .service--container__text {
    font-size: 1.6rem; }

.circle-box1 {
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 7rem;
  width: 7rem;
  border-radius: 100%;
  background-color: var(--color-secondary);
  opacity: 0.1;
  z-index: 1; }

.box1-svg {
  position: absolute;
  transform: translateX(15rem); }

.testimonial--container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .testimonial--container__box {
    height: 100%;
    background-color: #f9f9f9;
    border-radius: 3px;
    max-width: 65rem;
    width: 100%;
    padding: 3rem 5rem;
    color: #222;
    margin: 0 auto; }
    @media screen and (max-width: 600px) {
      .testimonial--container__box {
        margin: 10px;
        width: 100%;
        padding: 1rem 1.5rem; } }
    @media screen and (max-width: 400px) {
      .testimonial--container__box {
        width: 100%;
        margin: 0 5px;
        padding: 1rem 1.5rem; } }
  .testimonial--container__para {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400; }
  .testimonial--container__client {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem; }
    .testimonial--container__client--img {
      height: 6rem;
      width: 6rem; }
      .testimonial--container__client--img img {
        height: 100%;
        width: 100%;
        border-radius: 100%; }
    .testimonial--container__client--about {
      padding-left: 2rem; }
      .testimonial--container__client--about p {
        font-size: 1.8rem; }
      .testimonial--container__client--about span {
        color: #666;
        transform: translateY(-1rem); }

.testimonial--arrow {
  font-size: 5rem;
  color: var(--color-secondary);
  font-weight: 700; }

.testimonial--footer {
  padding: 3rem 0;
  display: flex;
  justify-content: center; }
  .testimonial--footer__line {
    background-color: var(--color-text);
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: relative; }
    .testimonial--footer__line::before, .testimonial--footer__line::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -8rem;
      height: 2px;
      width: 7rem;
      background-color: var(--color-text); }
    .testimonial--footer__line::before {
      left: -8rem; }
    .testimonial--footer__line::after {
      left: 1.7rem; }

.nav-icon {
  position: fixed;
  top: 3rem;
  right: 3rem;
  height: 10rem;
  width: 10rem;
  text-align: center;
  border-radius: 100%;
  z-index: 500;
  cursor: none; }
  .nav-icon--1 {
    position: relative;
    width: 50px;
    background-color: var(--color-text);
    display: inline-block;
    transition: all 0.4s; }
    .nav-icon--1::before, .nav-icon--1::after {
      content: "";
      position: absolute;
      background-color: var(--color-text);
      right: 0; }
    .nav-icon--1::before {
      width: 50px;
      height: 1.5px;
      top: 10px; }
    .nav-icon--1::after {
      width: 20px;
      height: 1.5px;
      top: 21px; }

.nav-icon--1.active {
  background-color: transparent;
  transition: all 0.4s; }
  .nav-icon--1.active::before {
    transform: rotate(135deg);
    width: 20px;
    top: 0; }
  .nav-icon--1.active::after {
    transform: rotate(-135deg);
    width: 20px;
    top: 0; }

.navigation--container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.navigation--slider {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-secondary);
  z-index: 99;
  transform: translateX(100%); }

.navigation {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: var(--color-primary);
  z-index: 100;
  display: block; }
  .navigation-list {
    list-style: none;
    margin-top: 20rem;
    width: 100%;
    justify-content: center;
    display: grid;
    grid-column: 1fr;
    grid-template-rows: repeat(3, 6rem);
    grid-row-gap: 2rem; }
    .navigation-list__item {
      width: 100%; }
    .navigation-list__link {
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 1px; }
  .navigation-color__box {
    display: flex;
    align-self: center;
    flex-direction: column;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: auto 0; }
    .navigation-color__box--title {
      font-size: 2rem;
      text-align: center; }
  .navigation-color__tile {
    display: flex;
    justify-content: center; }
    .navigation-color__tile button {
      width: 6rem;
      height: 2rem;
      border: none;
      outline: none;
      border: 1px solid var(--color-secondary);
      border-radius: 2px;
      cursor: none; }
      .navigation-color__tile button:not(:last-of-type) {
        margin-right: 6rem; }
      .navigation-color__tile button:nth-of-type(1) {
        background-color: #003049; }
      .navigation-color__tile button:nth-of-type(2) {
        background-color: #d62828; }
      .navigation-color__tile button:nth-of-type(3) {
        background-color: #2c6e49; }
      .navigation-color__tile button:nth-of-type(4) {
        background-color: #f9f9f9; }
  .navigation-footer {
    display: block;
    text-align: center; }
    .navigation-footer--text {
      font-size: 1.6rem;
      font-weight: 300;
      padding-bottom: 1rem;
      letter-spacing: 1px; }

.header {
  display: flex;
  justify-content: center; }
  .header-cta {
    width: 100%;
    align-self: center; }
    @media screen and (max-width: 1200px) {
      .header-cta {
        font-size: 60%; } }
    .header-cta__heading--main {
      font-family: "Rancho", cursive;
      font-size: 7rem;
      font-weight: 400;
      letter-spacing: 4px;
      text-transform: uppercase;
      text-align: center; }
    .header-cta__heading--sub {
      font-family: "Open Sans", sans-serif;
      font-size: 4rem;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: lowercase;
      text-align: center;
      transform: translateY(-2rem); }
    .header-cta__btn {
      display: flex;
      padding-top: 3rem;
      grid-column-gap: 10rem;
      justify-content: center; }
      @media screen and (max-width: 450px) {
        .header-cta__btn {
          flex-direction: column;
          align-items: center;
          grid-row-gap: 3rem; } }

.footer {
  margin-top: 20rem;
  background-color: var(--color-secondary); }
  @media screen and (max-width: 900px) {
    .footer {
      margin-top: 15rem; } }
  @media screen and (max-width: 600px) {
    .footer {
      margin-top: 8rem; } }
  @media screen and (max-width: 400px) {
    .footer {
      margin-top: 4rem; } }
  .footer--list {
    display: flex;
    justify-content: center;
    padding: 3rem 0; }
    .footer--list__item {
      padding: .5rem 1rem;
      border-radius: 4px;
      background-color: var(--color-text);
      list-style: none; }
      .footer--list__item:not(:last-child) {
        margin-right: 4rem; }
    .footer--list__link svg {
      width: 3rem;
      height: 3rem;
      fill: var(--color-primary); }

.footer--copyright {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  letter-spacing: 0.5px;
  padding-bottom: .5rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: var(--color-primary);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; }
  .preloader__finish {
    display: none; }

.preloader > span {
  background-color: var(--color-secondary);
  width: 10px;
  height: 40px;
  margin-right: 5px;
  animation: rise 2.3s ease-in infinite;
  animation-fill-mode: backwards;
  transform-origin: bottom;
  backface-visibility: hidden; }

.preloader span:nth-child(1) {
  animation-delay: .33s; }

.preloader span:nth-child(2) {
  animation-delay: .66s; }

.preloader span:nth-child(3) {
  animation-delay: .99s; }

.preloader span:nth-child(4) {
  animation-delay: 1.32s; }

.preloader span:nth-child(5) {
  animation-delay: 1.65s; }

.preloader span:nth-child(6) {
  animation-delay: 1.98s; }

@keyframes rise {
  0% {
    transform: scaleY(0); }
  50% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(0); } }

.section-about {
  width: 100vw;
  height: 100vh;
  padding-top: 5rem; }
  .section-about__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
    @media screen and (max-width: 900px) {
      .section-about__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center; } }
  .section-about__para {
    grid-column: 2 / 8;
    align-self: center;
    font-size: 1.7rem;
    line-height: 2; }
    @media screen and (max-width: 1200px) {
      .section-about__para {
        grid-column: 2 / 7; } }
    @media screen and (max-width: 900px) {
      .section-about__para {
        padding-top: 6rem;
        width: 70%; } }
    @media screen and (max-width: 600px) {
      .section-about__para {
        padding-top: 4rem;
        width: 90%; } }
  .section-about__img-box {
    grid-column: 9 / 13;
    height: 35rem;
    transform: translate(1.5rem, 1.5rem);
    width: 35rem;
    object-fit: cover;
    position: relative; }
    @media screen and (max-width: 1200px) {
      .section-about__img-box {
        grid-column: 8 / 12; } }
    .section-about__img-box:hover img {
      transform: translate(-1.5rem, -1.5rem); }
    .section-about__img-box::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: -1.5rem;
      left: -1.5rem;
      background-color: var(--color-text);
      z-index: -1; }
    .section-about__img-box img {
      height: 100%;
      width: 100%;
      transition: all 0.4s; }

.portfolio--large__img {
  background-color: pink;
  height: 100%; }
  .portfolio--large__img img {
    width: 100%;
    height: auto; }
